<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<marketplace_cc>
				<active>1</active>
				<model>Resultate\Skyhub\Model\Payment\Marketplace_Cc</model>
				<order_status>pending</order_status>
				<title>Marketplace_Cc</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</marketplace_cc>
			<marketplace_boleto>
				<active>1</active>
				<model>Resultate\Skyhub\Model\Payment\Marketplace_Boleto</model>
				<order_status>pending</order_status>
				<title>Marketplace_Boleto</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</marketplace_boleto>
		</payment>
		<carriers>
			<marketplace>
				<model>Resultate\Skyhub\Model\Carrier\Marketplace</model>
				<active>1</active>
				<title>Marketplace</title>
				<name>Marketplace</name>
				<price>0.00</price>
				<type>I</type>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>0</sallowspecific>
			</marketplace>
		</carriers>
		<skyhub>
			<options>
				<active/>
				<email/>
				<api_key/>
				<cart_store/>
				<delete_customer>1</delete_customer>
				<max_diff/>
				<inventory_processed>0</inventory_processed>
				<status_pending/>
				<status_invoiced/>
				<status_canceled/>
				<status_refunded/>
				<status_shipmed/>
				<status_delivered/>
				<attribute_set_to_sync/>
				<attributes_to_sync/>
			</options>
		</skyhub>
	</default>
</config>
