<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="catalog_product_save_after">
		<observer instance="Resultate\Skyhub\Observer\Catalog\ProductSaveAfter" name="resultate_skyhub_observer_catalog_productsaveafter_catalog_product_save_after"/>
	</event>
	<event name="cataloginventory_stock_item_save_after">
		<observer instance="Resultate\Skyhub\Observer\Cataloginventory\StockItemSaveAfter" name="resultate_skyhub_observer_cataloginventory_stockitemsaveafter_cataloginventory_stock_item_save_after"/>
	</event>
	<event name="sales_order_save_after">
		<observer instance="Resultate\Skyhub\Observer\Sales\Order\Invoiced" name="resultate_skyhub_observer_sales_order_invoiced"/>
		<observer instance="Resultate\Skyhub\Observer\Sales\Order\Canceled" name="resultate_skyhub_observer_sales_order_canceled"/>
		<observer instance="Resultate\Skyhub\Observer\Sales\Order\Refunded" name="resultate_skyhub_observer_sales_order_refunded"/>
		<observer instance="Resultate\Skyhub\Observer\Sales\Order\Shipmed" name="resultate_skyhub_observer_sales_order_shipmed"/>
		<observer instance="Resultate\Skyhub\Observer\Sales\Order\Delivered" name="resultate_skyhub_observer_sales_order_delivered"/>
	</event>
</config>
