<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="marketplace_cc" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Marketplace_Cc</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="multiselect">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="textarea">
					<label>Instructions</label>
				</field>
			</group>
			<group id="marketplace_boleto" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Marketplace_Boleto</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="multiselect">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="textarea">
					<label>Instructions</label>
				</field>
			</group>
		</section>
		<section id="carriers" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="marketplace" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Marketplace</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="name" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Method Name</label>
				</field>
				<field id="price" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
					<label>Price</label>
					<validate>validate-number validate-zero-or-greater</validate>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="sallowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="select">
					<label>Ship to Applicable Countries</label>
					<frontend_class>shipping-applicable-country</frontend_class>
					<source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="multiselect">
					<label>Ship to Specific Countries</label>
					<can_be_empty>1</can_be_empty>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
				</field>
				<field id="specificerrmsg" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="textarea">
					<label>Displayed Error Message</label>
				</field>
			</group>
		</section>
		<section id="skyhub" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>SkyHub</label>
			<tab>catalog</tab>
			<resource>Resultate_Skyhub::config_resultate_skyhub</resource>
			<group id="options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Configurações</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label" type="select">
					<label>Habilitado</label>
					<comment>Habilita Integração com Skyhub</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="email" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label" type="text">
					<label>E-mail da Conta Skyhub</label>
					<comment>E-mail associado a conta que irá ser usado na autenticação da API Skyhub</comment>
				</field>
				<field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>API-KEY</label>
					<comment>API Key que será passada no Header para autenticação nos endpoints da API.</comment>
				</field>
				<field id="cart_store" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="select">
					<label>Loja para Integração</label>
					<comment>Loja que será integrada com a Skyhub.</comment>
					<source_model>Magento\Config\Model\Config\Source\Store</source_model>
				</field>
				<field id="inventory_processed" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
					<label>Processar Estoque</label>
					<comment>Estoque do produto será alterado ao importar um pedido.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="status_pending" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="105" translate="label" type="select">
					<label>Status Pendente</label>
					<comment>Status do pedido pendente.</comment>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
				</field>
				<field id="status_invoiced" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="select">
					<label>Status Faturado</label>
					<comment>Status do pedido Faturado.</comment>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
				</field>
				<field id="status_canceled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="115" translate="label" type="select">
					<label>Status Cancelado</label>
					<comment>Status do pedido cancelado.</comment>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
				</field>
				<field id="status_refunded" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label" type="select">
					<label>Status Reembolsado</label>
					<comment>Status do pedido reembolsado.</comment>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
				</field>
				<field id="status_shipmed" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="125" translate="label" type="select">
					<label>Status Enviado</label>
					<comment>Status do pedido enviado.</comment>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
				</field>
				<field id="status_delivered" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="130" translate="label" type="select">
					<label>Status Entregue</label>
					<comment>Status do pedido entregue.</comment>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
				</field>
				<field id="attribute_set_to_sync" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="135" translate="label" type="select">
					<label>Attribute Set para Integração</label>
					<comment>Selecione o Grupo de atributo que será utilizado para gerar os atributos abaixo.</comment>
					<source_model>Resultate\Skyhub\Model\Config\Source\AttributeSetToSync</source_model>
				</field>
				<field id="attributes_to_sync" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label" type="multiselect">
					<label>Atributos para Integração</label>
					<comment>Selecione os atributos que serão sincronizados com a SkyHub</comment>
					<source_model>Resultate\Skyhub\Model\Config\Source\AttributesToSync</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
